*{
    direction: rtl;
}



@font-face{
    font-family: "Vazir";
    src: url("../fonts/Vazir/Vazir-FD-WOL.woff2") format("woff2"),
         url("../fonts/Vazir/Vazir-FD-WOL.woff") format("woff"),
         url("../fonts/Vazir/Vazir-FD-WOL.ttf") format("truetype");
}


@media (min-width:600px){
    .top_actions_section{
        display: flex;
        align-items: center;
    }
}


body{
    font-family: "Vazir";
}

.wh_100{
    width: 100% !important;
    height: 100% !important;
}

.w-f{
    width: 100%;
}

.w-f-max{
    width: 100%;
    max-width: 400px; 
}

.w-f-max250{
    width: 100%;
    max-width: 250px; 
}
.w-250{
    width: 250px;
}
.m-r{
    padding-right: 1px;
}

.m-r-10{
    margin-right: 25px !important;
}

.f-s{
    font-size: 0.8rem;
}

.f-bold{
    font-weight: bold;
}

.w-50{
    width:50px;
}
.maxw50{
    max-width: 50px;
}

.m-b-0{
    margin-bottom: 0px;
}

.no-border{
    border: unset !important;
}

/* .rtl{
    text    
} */

.flex-c-m-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.po-to{
    position: relative;
    top: 7px;
}

.po-ri{
    position: relative;
    right: 13px;
}
.p-r{
    padding-right: 20px;
}
 .p-l{
    padding-left: 3px;
 }
 .p-l-5{
    padding-left: 5px;
 }
 .p-r-5{
    padding-right: 5px;
 }
 .p-l-10{
    padding-left: 10x;
 }
 .p-t-1{
    padding-top: 1px;
 }
 .p-b-3{
    padding-bottom: 3px;
 }
 p-lrt-10{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
 }

p-lrbt{
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.p-l-30{
    padding-left: 40px;
}
.p-r-30{
    padding-right: 40px;
}
.p-t-25{
    padding-top: 25px;
}
 .p-t-100{
    padding-top: 100px;
 }

 .p-t{
    padding-top: -3px;
 }

 .p-t-10{
    padding-top: 10px;
 }

 .p-b-10{
    padding-bottom: 10%;
 }

 .p-r-40{
    padding-right: 40px;
 }

 .p-l-40{
    padding-left: 40px;
 }

 .p-all-5{
    padding: 5px 5px 5px 5px;
 }

 .sizefull{
    width: 100%;
 }

 .m-t{
    margin-top: 15px;
 }
 .m-b{
    margin-bottom: 15px;
 }

 .m-t{
    margin-top: 25px;
 }
 .m-r-5{
    margin-right: 5px;
 }
 .m-l-5{
    margin-left: 5px;
 }

 .b-r{
    border-radius: 20px;
 }

 .m-l-10{
    margin-left: 10px;
 }

 .m-t-20{
    margin-top: 20px;
 }

 .m-b-10{
    margin-bottom: 10px;
 }

 .m-r-10{
    margin-right: 10px;
 }

 .filter{
    filter: drop-shadow(2px 4px 6px red);
 }

 .out{
    outline: 0.200rem solid rgb(124, 248, 221);
    outline-offset: .40rem;
 }

 .center{
    text-align: center;
 }
 .br-out{
    border-radius: 20px;
    outline: 0.200rem solid rgb(124, 248, 221);
    outline-offset: .40rem;
 }

 flex-align{
    display: flex;
    align-items: center;
 }

 .icon-user-list .list-item{
    transform: rotate(180deg);
 }

 .icon-user-list.active .list-item{
    transition: all 200ms ease;
 }

 .list-item.active{
    background-color: cadetblue;
 }

 table.highlight >tbody >tr:hover{
    background-color: rgb(178, 226, 208);

 }

 .br{
    border-radius: 10px ;
 }

 .flex-l{
    display: flex;
    justify-content: flex-start;
 }

 .flex-l-m{
    display:flex; 
    align-items: center;
 }

 .flex-justify{
    display:flex;
    justify-content: space-between;
    align-items: center;
 }

 .polrm{
    position: fixed;
    left: 0px;
    right: 0px;
    margin: auto;
 }
 .b0{
    bottom: 0px;
 }

 .b-r-t{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
 }

 .add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0, 0, 0.7);
    z-index:999;
 }

 .add_user_modal{
    position: fixed;
    height: 70vh;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: beige;
    z-index: 1000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    bottom: -70vh;
 }

 .dis-none{
    display: none;
 }

 .add_user_modal.show{
    bottom: 0px;
    box-shadow: 0 0 10px blue;
 }

 .trans{
    transition: all 2s ease;
 }
